<!-- <div class="text-layout">
  <h1>{{nombre |titlecase}}</h1>
  <h1>{{valor |number}}</h1>
  <h1>{{obj |json}}</h1>
</div>


<button pButton (click)="mostrarNombre()" label="Cambiar nombre" icon="pi pi-bell" class="p-button-help"
  iconPos="right"></button>

<p-card [header]="nombre |titlecase"
        subheader="Esto es un subheader">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quos necessitatibus harum nisi tempora excepturi fugit iusto atque. Quia beatae soluta esse odit facilis. Consequuntur dolorem suscipit nam laborum enim?
</p-card> -->
<app-menu></app-menu>

<router-outlet></router-outlet>